@import "header/header.css";
@import "account/account.css";
@import "aboutSite/aboutSite.css";
@import "post/post.css";
@import "comments/comments.css";
@import "illustration/illustration.css";

.header,
.post,
.comments,
.illustration {
  margin-left: 113px;
  margin-right: 113px;
}

@media screen and (max-width: 860px) {
  .header,
  .post,
  .comments,
  .illustration {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-left: 17px;
    margin-right: 17px;
  }
}
