* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 1366px;
  min-width: 376px;
  font-family: roboto, sans-serif;
  background: #faf8f2ef;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  max-width: 510px;
}

hr {
  box-sizing: border-box;
}

/*----------- markup for development------------*/

/* h1,
h2,
h3,
h4,
a,
p,
div,
section,
button,
input,
textarea {
  border: 1px solid red;
} */
