@import "__image/contacts-content__image.css";
@import "__title/contacts-content__title.css";
@import "__paragraph/contacts-content__paragraph.css";
@import "__data/contacts-content__data.css";

.contacts-content__menu {
  width: 100%;
}

@media screen and (max-width: 1365px) {
  .contacts-content__menu {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .contacts-content__menu {
    width: 48%;
  }
}

@media screen and (max-width: 860px) {
  .contacts-content__menu {
    width: 304px;
  }
}
