.post__title {
  display: block;
  font-family: roboto;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  margin-top: 21px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1180px) {
  .post__title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
