.contacts-content__title {
  margin-top: 40px;
  text-transform: uppercase;
  color: #1f3f68;
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
}
