.contacts-content__paragraph {
  width: 72%;
  margin-top: 24px;
  color: #1f3f68;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  opacity: 60%;
}
