.contacts__heading-description {
  /* width: 56%; */
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 16px;
}
