.contacts__heading-description {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 16px;
}

@media screen and (max-width: 565px) {
  .contacts__heading-description {
    margin-top: 32px;
  }
}

@media screen and (max-width: 565px) {
  .contacts__heading-description {
    font-size: 16px;
    line-height: 26px;
  }
}
