@import "__content/aboutSite__content.css";
@import "__illustration/aboutSite__illustration.css";

.aboutSite {
  display: flex;
  background: linear-gradient(#ffffff, 88%, #98c3e8);
  padding-left: 113px;
  padding-right: 113px;
}

@media screen and (max-width: 1365px) {
  .aboutSite {
    height: 660px;
    position: relative;
  }
}

@media screen and (max-width: 1365px) {
  .aboutSite {
    padding-left: 7%;
    padding-right: 7%;
  }
}
