.comments__title {
  text-align: center;
  font-family: roboto;
  font-size: 36px;
  line-height: 46px;
  font-weight: 100;
  margin-top: 15px;
  letter-spacing: 2px;
}

@media screen and (max-width: 640px) {
  .comments__title {
    font-size: 24px;
    line-height: 28px;
  }
}
