.contacts__map {
  margin-top: 96px;
}

@media screen and (max-width: 860px) {
  .contacts__map {
    margin-top: 64px;
  }
}

@media screen and (max-width: 640px) {
  .contacts__map {
    margin-top: 32px;
  }
}
