.comments__description {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: roboto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
  width: 750px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .comments__description {
    width: 68%;
  }
}
