@import "__title/footer-feedback__title.css";
@import "__paragraph/footer-feedback__paragraph.css";

.footer-feedback__content {
  width: 488px;
}

@media screen and (max-width: 768px) {
  .footer-feedback__content {
    width: 62%;
  }
}
