.account-feedback__paragraph {
  font-family: roboto;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  margin-top: 32px;
  opacity: 60%;
  letter-spacing: 2px;
}

@media screen and (max-width: 640px) {
  .account-feedback__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
