.contacts__heading-title {
  font-family: roboto;
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  margin-top: 51px;
  color: #ffffff;
  letter-spacing: 2px;
}

@media screen and (max-width: 565px) {
  .contacts__heading-title {
    font-size: 32px;
    line-height: 37px;
  }
}
