@import "footer-feedback/footer-feedback.css";
@import "__content/footer__content.css";
@import "__copyright/footer__copyright.css";

.footer {
  display: flex;
  flex-direction: column;
  background-color: #316099;
  margin-top: 88px;
  color: #ffffff;
  padding-left: 113px;
  padding-right: 113px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 124px;
    padding-right: 124px;
  }
}
