@import "footer-feedback/footer-feedback.css";
/* @import "footer-contacts/footer-contacts.css";
@import "__copyright/footer__copyright.css"; */

.footer {
  background-color: #316099;
  margin-top: 88px;
  color: #ffffff;
  padding-left: 113px;
  padding-right: 113px;
  /* box-sizing: border-box; */
}
