@import "__input-title/contacts-content__input-title.css";
@import "__form/contacts-content__form.css";

.contacts-content__menu-form {
  height: 800px;
  max-width: 540px;
  padding: 56px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 7px 28px rgba(134, 186, 245, 0.747);
}

@media screen and (max-width: 860px) {
  .contacts-content__menu-form {
    margin-top: 64px;
  }
}
