.contacts-content__data {
  width: 90%;
  margin-top: 16px;
  color: #1f3f68;
  font-family: roboto;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  opacity: 60%;
  list-style-type: none;
}

.data_phone::before {
  content: "\1F4DE";
}

.data_site::before {
  content: "\1F310";
}

.data_email::before {
  content: "\2709";
}
