@import "__content/footer-feedback__content.css";
@import "__button/footer-feedback__button.css";

.footer-feedback {
  height: 383px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 113px;
  margin-right: 113px; */
}
