@import "account-feedback/account-feedback.css";
@import "__content/account__content.css";
@import "__copyright/account__copyright.css";

.account {
  display: flex;
  flex-direction: column;
  background-color: #316099;
  margin-top: 88px;
  color: #ffffff;
  padding-left: 211px;
  padding-right: 211px;
}

@media screen and (max-width: 1150px) {
  .account {
    padding-left: 14%;
    padding-right: 14%;
  }
}

@media screen and (max-width: 768px) {
  .account {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media screen and (max-width: 767px) {
  .account {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 376px) {
  .account {
    padding-left: 16px;
    padding-right: 16px;
  }
}
