/* .footer-feedback__button {
  width: 237px;
  height: 56px;
  background: #5a98d0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer-feedback__button:hover {
  background: #4d81af;
  outline: none;
}

@media screen and (max-width: 768px) {
  .footer-feedback__button {
    width: 133px;
    height: 32px;
    margin-left: 51px;
  }
} */
