.footer-feedback__button {
  width: 236px;
  height: 56px;
  background: #5a98d0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  margin-left: 25px;
}

.footer-feedback__button:hover {
  background: #4d81af;
  outline: none;
}

@media screen and (max-width: 768px) {
  .footer-feedback__button {
    width: 133px;
    height: 32px;
  }
}

@media screen and (max-width: 510px) {
  .footer-feedback__button {
    margin-left: 0;
    margin-top: 32px;
  }
}
