.aboutSite__title {
  font-size: 64px;
  line-height: 74px;
  color: #1f3f68;
  font-family: roboto;
  font-weight: 100;
  margin-top: 40px;
}

@media screen and (max-width: 570px) {
  .aboutSite__title {
    font-size: 32px;
    line-height: 37px;
  }
}
