@import "__card/post__card.css";

.post__cards-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex;
    justify-content: space-around; */
  margin-top: 38px;
}

@media screen and (max-width: 1340px) {
  .post__cards-list {
    grid-column-gap: 7px;
  }
}

@media screen and (max-width: 1024px) {
  .post__cards-list {
    grid-template-columns: 1fr;
  }
}
