.aboutSite__illustration {
  height: 550px;
  margin-top: 77px;
  margin-left: 77px;
}

@media screen and (max-width: 1365px) {
  .aboutSite__illustration {
    height: 42vw;
    position: absolute;
    right: 90px;
    bottom: 35px;
  }
}

@media screen and (max-width: 1180px) {
  .aboutSite__illustration {
    right: 90px;
    bottom: 35px;
  }
}

@media screen and (max-width: 960px) {
  .aboutSite__illustration {
    right: 48px;
  }
}

@media screen and (max-width: 710px) {
  .aboutSite__illustration {
    display: none;
  }
}
