.aboutSite__illustration {
  max-width: 650px;
  height: 550px;
  margin-top: 77px;
  margin-left: 77px;
}

@media screen and (max-width: 768px) {
  .aboutSite__illustration {
    width: 341px;
    height: 281px;
    position: absolute;
    right: 48px;
    bottom: 96px;
  }
}
