.account-feedback__title {
  font-family: roboto;
  font-weight: 100;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 2px;
}

@media screen and (max-width: 640px) {
  .account-feedback__title {
    font-size: 24px;
    line-height: 28px;
  }
}
