@import "__title/aboutSite__title.css";
@import "__description/aboutSite__description.css";
@import "__button/aboutSite__button_seeOurProject.css";

.aboutSite__content {
  max-width: 554px;
  max-height: 350px;
  margin-top: 67px;
}

@media screen and (max-width: 650px) {
  .aboutSite__content {
    width: 100%;
  }
}

@media screen and (max-width: 710px) {
  .aboutSite__content {
    max-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 376px) {
  .aboutSite__content {
    margin-bottom: 41px;
  }
}
