.button {
  background: #5a98d0;
  width: 100%;
  height: 72px;
  border-radius: 10px;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  outline: none;
  margin-top: 72px;
  box-shadow: 5px 7px 17px rgba(127, 167, 252, 0.925);
}

.button:hover {
  background-color: #517cc7;
  font-weight: bold;
  cursor: pointer;
}
